* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    font-family: TwCenMT-Condensed, Tw Cen MT Condensed;
}


body {
    margin: 0px;
    padding: 0px;
    animation: fadeIN ease 2s 1 forwards;
}

@keyframes fadeIN {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.main_container {
    background: white;
    width: 100%; height: 100%;
    position: absolute;
    overflow: hidden;
}

.middle_panel {
    position: relative;
    width: 450px;
    margin: 0 auto;
    height: 100%;
    background-color: #1c1f26;
}

.top_logo,
.port_list,
.bottom_info {
    position: relative;
    width: 100%;
    margin: 0 0;
}

.top_logo {
    display: flex;
    justify-content: center;
    height: 35%;
    padding-top: 5%;
}

.bottom_info {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    height: 20%;
}

.port_list {
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.refresh_container {
    height: 20%;
    margin-top: 5%;
    width: 10%;
    transition: filter 0.5s ease;
}

.refresh_container:hover {
    filter: brightness(200%);
}

.refresh_container:active {
    transform: translateX(1px) translateY(1px);
}

.list_info {
    color: #b8daff;
    height: 10%;
    display: flex;
    align-items: center;
    animation: 2s ease-in infinite blink;
}

@keyframes blink {
    0% {opacity: 0;}
    45% {opacity: 1;}
    55% {opacity: 1;}
    100% {opacity: 0;}
}

.list {
    width: 90%;
    height: 70%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-top: 5px;
    overflow: auto;
}

.port_list_item {
    border: 1px solid #b8daff;
    background-color: #b8daff;
    color: #1c1f26;
    margin: 0px auto;
    margin-bottom: 15px;
    height: 25px;
    width: 80%;
    display: flex;
    flex-direction: row;
    transition: 0.2s ease-in;
}

.port_list_item:hover {
    cursor: pointer;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateX(-2px) translateY(-2px);
}

.port_list_item_COM {
    width: 20%;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 1;
    padding: 2px 5px;
}

.port_list_item_COM::before {
    width: 100%;
    height: 30px;
    transform: skew(-30deg);
    content: '';
    top: -4px;
    left: 3px;
    position: absolute;
    z-index: -1;
    background-color: #324152;
}

.port_list_item_DESC {
    width: 80%;
    text-align: center;
    padding: 2px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

img {
    height: 100%;
}